.text-block {
  line-height: 1;
  text-align: left;
  color: #334D42;
  font-size: 16px;
  letter-spacing: .3px;
  font-weight: 400;
}

.list {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;

  li {
    list-style-position: inside;
    list-style-type: disc;
  }
}
.studio-name {
  font-family: "Big Shoulders", sans-serif;
  color: #896C5E;
  font-size: 24px;
  font-weight: 400;
}
.additional-text {
  color: #896C5E;
}
