.nav_list {
  li {
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      display: block;
      height: 2px;
      background-color: black;
    transition: width 0.2s ease;
    }
  }
  li:hover {
    &:after {
      width: 100%;
    }
  }
}
.navigation {
  backdrop-filter:  blur(5px);
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}
.opened {
  transform: translateY(0%);
}
