<main>
  <h1>{{'general_title' | translate}}</h1>

  <div class="toc">
    <ul>
      <li><a (click)="scrollToAnchor('section1')">{{'toc_1' | translate}}</a></li>
      <li><a (click)="scrollToAnchor('section2')">{{'toc_2' | translate}}</a></li>
      <li><a (click)="scrollToAnchor('section3')">{{'toc_3' | translate}}</a></li>
      <li><a (click)="scrollToAnchor('section4')">{{'toc_4' | translate}}</a></li>
      <li><a (click)="scrollToAnchor('section5')">{{'toc_5' | translate}}</a></li>
      <li><a (click)="scrollToAnchor('section6')">{{'toc_6' | translate}}</a></li>
    </ul>
  </div>

  <hr>

  <section id="section1">
    <h2>{{'section1_title' | translate}}</h2>
    <p class="studio-details">
      {{'section1_text_1' | translate}}
    </p>
    <p>
      {{'section1_text_2' | translate}}
    </p>
  </section>

  <hr>

  <section id="section2">
    <h2>{{'section2_title' | translate}}</h2>
    <ul>
      <li>{{'section2_point_1' | translate}}</li>
      <li>{{'section2_point_2' | translate}}</li>
      <li class="note">{{'section2_point_3' | translate}}</li>
    </ul>
  </section>

  <hr>

  <section id="section3">
    <h2>{{'section3_title' | translate}}</h2>
    <ul>
      <li>{{'section3_point_1' | translate}}</li>
      <li>{{'section3_point_2' | translate}}</li>
      <li>{{'section3_point_3' | translate}}</li>
      <li>{{'section3_point_4' | translate}}</li>
      <li>{{'section3_point_5' | translate}}</li>
      <li>
        {{'section3_point_6_header' | translate}}
        <ol>
          <li>{{'section3_point_6_option1' | translate}}</li>
          <li>{{'section3_point_6_option2' | translate}}</li>
        </ol>
        <p class="note">{{'section3_point_6_note_1' | translate}}</p>
      </li>
      <li>{{'section3_point_7' | translate}}</li>
      <li>{{'section3_point_8' | translate}}</li>
      <li>
        {{'section3_point_9_1' | translate}}
        {{'section3_point_9_2' | translate}}
        {{'section3_point_9_3' | translate}}
      </li>
      <li>{{'section3_point_10' | translate}}</li>
      <li>{{'section3_point_11' | translate}}</li>
      <li>{{'section3_point_12' | translate}}</li>
      <li>{{'section3_point_13' | translate}}</li>
      <li>{{'section3_point_14' | translate}}</li>
      <li>{{'section3_point_15' | translate}}</li>
      <li class="note">{{'section3_point_16' | translate}}</li>
      <li class="note">{{'section3_point_17' | translate}}</li>
    </ul>
  </section>

  <hr>

  <section id="section4">
    <h2>{{'section4_title' | translate}}</h2>
    <ul>
      <li>
        {{'section4_point_1_1' | translate}}
        {{'section4_point_1_2' | translate}}
      </li>
      <li>{{'section4_point_2' | translate}}</li>
      <li>{{'section4_point_3' | translate}}</li>
      <li>{{'section4_point_4' | translate}}</li>
      <li>{{'section4_point_5' | translate}}</li>
      <li>{{'section4_point_6' | translate}}</li>
      <li>{{'section4_point_7' | translate}}</li>
      <li>{{'section4_point_8' | translate}}</li>
    </ul>
  </section>

  <hr>

  <section id="section5">
    <h2>{{'section5_title' | translate}}</h2>
    <p>{{'section5_text_1' | translate}}</p>
    <p>{{'section5_text_2' | translate}}</p>
    <p>{{'section5_list_header' | translate}}</p>
    <ul>
      <li>{{'section5_list_1' | translate}}</li>
      <li>{{'section5_list_2' | translate}}</li>
      <li>{{'section5_list_3' | translate}}</li>
      <li>{{'section5_list_4' | translate}}</li>
    </ul>
    <p>{{'section5_text_3' | translate}}</p>
  </section>

  <hr>

  <section id="section6">
    <h2>{{'section6_title' | translate}}</h2>
    <p>{{'section6_intro' | translate}}</p>

    <article>
      <h3>{{'section6_sub1_title' | translate}}</h3>
      <ul>
        <li>{{'section6_sub1_point_1' | translate}}</li>
        <li>{{'section6_sub1_point_2' | translate}}</li>
        <li>{{'section6_sub1_point_3' | translate}}</li>
        <li>{{'section6_sub1_point_4' | translate}}</li>
      </ul>
    </article>

    <article>
      <h3>{{'section6_sub2_title' | translate}}</h3>
      <p>{{'section6_sub2_list1_header' | translate}}</p>
      <ul>
        <li>{{'section6_sub2_list1_1' | translate}}</li>
        <li>{{'section6_sub2_list1_2' | translate}}</li>
        <li>{{'section6_sub2_list1_3' | translate}}</li>
        <li>{{'section6_sub2_list1_4' | translate}}</li>
      </ul>
      <p>{{'section6_sub2_list2_header' | translate}}</p>
      <ul>
        <li>{{'section6_sub2_list2_1' | translate}}</li>
        <li>{{'section6_sub2_list2_2' | translate}}</li>
      </ul>
    </article>

    <article>
      <h3>{{'section6_sub3_title' | translate}}</h3>
      <p>{{'section6_sub3_text_1' | translate}}</p>
      <ul>
        <li>{{'section6_sub3_list_1' | translate}}</li>
        <li>{{'section6_sub3_list_2' | translate}}</li>
        <li>{{'section6_sub3_list_3' | translate}}</li>
        <li>{{'section6_sub3_list_4' | translate}}</li>
        <li>{{'section6_sub3_list_5' | translate}}</li>
      </ul>
    </article>

    <article>
      <h3>{{'section6_sub4_title' | translate}}</h3>
      <p>{{'section6_sub4_text_1' | translate}}</p>
      <ul>
        <li>{{'section6_sub4_list_1' | translate}}</li>
        <li>{{'section6_sub4_list_2' | translate}}</li>
        <li>{{'section6_sub4_list_3' | translate}}</li>
      </ul>
    </article>

    <article>
      <h3>{{'section6_sub5_title' | translate}}</h3>
      <p>{{'section6_sub5_text_1' | translate}}</p>
    </article>

    <article>
      <h3>{{'section6_sub6_title' | translate}}</h3>
      <p>{{'section6_sub6_text_1' | translate}}</p>
      <ul>
        <li>{{'section6_sub6_list_1' | translate}}</li>
        <li>{{'section6_sub6_list_2' | translate}}</li>
        <li>{{'section6_sub6_list_3' | translate}}</li>
      </ul>
    </article>

    <article>
      <h3>{{'section6_sub7_title' | translate}}</h3>
      <p>{{'section6_sub7_text_1' | translate}}</p>
      <ul>
        <li>{{'section6_sub7_list_1' | translate}}</li>
        <li>{{'section6_sub7_list_2' | translate}}</li>
        <li>{{'section6_sub7_list_3' | translate}}</li>
        <li>{{'section6_sub7_list_4' | translate}}</li>
      </ul>
    </article>

    <article>
      <h3>{{'section6_sub8_title' | translate}}</h3>
      <p>{{'section6_sub8_text_1' | translate}}</p>
    </article>

    <article>
      <h3>{{'section6_sub9_title' | translate}}</h3>
      <p>{{'section6_sub9_text_1' | translate}}</p>
    </article>

    <article>
      <h3>{{'section6_sub10_title' | translate}}</h3>
      <p>{{'section6_sub10_text_1' | translate}}</p>
    </article>
  </section>

</main>
