<div class="relative w-full min-h-[69vh] flex flex-col items-center justify-center max-w-[1920px] m-auto hero" #heroRef>
    <div class="relative z-2 flex flex-col justify-center items-center pt-4 mb-4 w-full">
      <div class="name-wrapper w-full flex items-center justify-center">
        <span class="text-[130px] js-studio leading-none translate-item py-[10px]">JS studio</span>
      </div>
      <h1 class="font-[800] text-[18px] title translate-item">
        {{'mainTitle' | translate}}
      </h1>
    </div>
  <app-button [navigatePath]="'reservation'" [class.main-button]="true"></app-button>
  <img ngSrc="/images/main_photos.webp" alt="image" fill priority class="hero-image object-cover w-full absolute">
</div>
