.js-studio {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 80%;
    height: 2px;
    background: #000;
    left: 50%;
    transform: translateX(-50%);
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
  }
}
.title {
  text-shadow: 1px 1px rgba(255, 255, 255, 0.51);

  @media  screen and (max-width: 768px) {
    font-size: 21px;
    text-align: center;
  }
}

.js-studio {
  text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
  @media  screen and (max-width: 768px) {
    font-size: 36px;
    text-align: center;
  }
}

.hero {
  @media  screen and (max-width: 768px) {
    min-height: 600px;
    max-height: 600px;
  }
  @media (max-width: 450px) {
    min-height: 400px;
    max-height: 400px;
  }
}

.hero-image {
  position: relative !important;
}
