<div class="max-w-[1920px] m-auto mb-8">
  <h2 class="text-[40px] font-[500] text-center">
    {{'kontakt' | translate}}
  </h2>
  <div class="contacts text-center">
    <p class="text-[28px] font-[bold]">
      {{'yan' | translate}}
    </p>
    <div class="flex flex-col items-center text-[20px]">
      <a href="tel:+48536201933">+48536201933</a>
      <a href="mailto:help@studio-js.pl">{{ 'help@studio - js.pl' }}</a>
      <a href="https://maps.app.goo.gl/1m4m4waNtwckFYWg8">Marszałka Józefa Piłsudskiego 74/208</a>
      <a href="https://www.instagram.com/js.studio.wroclaw?igsh=MXBibmphOHY2ZGQzbg==" target="_blank">
        <img ngSrc="/images/icons/instagram.svg" alt="instagram" width="32" height="32" >
      </a>
    </div>
  </div>
</div>
