<div class="max-w-[1920px] m-auto mb-8">
  <div class="contacts flex flex-col text-[20px] gap-4">
    <p class="font-[bold] text-[#594840] text-[32px]">
      {{'yan' | translate}}
    </p>
    <p class="flex items-center gap-8 text-[#594840] text-[24px]">
      <img ngSrc="/images/icons/phone.png" alt="phone" width="32" height="32" >
      <a href="tel:+48536201933" target="_blank">+48 536 201 933</a>
    </p>
    <p class="flex items-center gap-8 text-[#594840] text-[24px]">
      <img ngSrc="/images/icons/letter.png" alt="email" width="32" height="32" >
      <a href="mailto:help@studio-js.pl" target="_blank">help&#64;studio-js.pl</a>
    </p>
    <p class="flex items-center gap-8 text-[#594840] text-[24px]">
      <img ngSrc="/images/icons/place.png" alt="address" width="32" height="32" >
      <a href="https://maps.app.goo.gl/1m4m4waNtwckFYWg8" target="_blank">Marszałka Józefa Piłsudskiego 74/208 50-020 Wrocław</a>
    </p>
    <p class="flex items-center gap-8 text-[#594840] text-[24px]">
      <img ngSrc="/images/icons/instagram.png" alt="instagram" width="32" height="32" >
      <a href="https://www.instagram.com/js.studio.wroclaw?igsh=MXBibmphOHY2ZGQzbg==" target="_blank">js.studio.wroclaw
      </a>
    </p>
    <p class="flex items-center gap-8 text-[#594840] text-[24px]">
      <img ngSrc="/images/icons/time.png" alt="clock" width="32" height="32" >
      <span>08:00 - 22:00</span>
    </p>
    <p class="flex items-center gap-8 text-[#594840] text-[24px]">
      <img ngSrc="/images/icons/house.png" alt="icon" width="32" height="32" >
      <span>
        NIP: 8971917484
      </span>
    </p>
    </div>
</div>
