/* :host гарантує, що сам компонент <app-particle-effect> займає весь екран */
:host {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* Я перейменував #magic на .magic-canvas-container, щоб уникнути ID */
.magic-canvas-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  z-index: 1; /* Канвас */
}

.playground {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 2; /* Оверлей має бути вище */
}

.bottomPosition {
  text-align: center;
  margin-bottom: 50px;
}

.minText {
  font-size: 14px;
}

a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
}
