.contact {
  width: 50%;
  flex-grow: 1;
}

.map {
  width: 50%;
  flex-grow: 1;
}

h2 {
  font-family: 'Arsenal SC', 'sans-serif';
  font-weight: 700;
  font-size: 38.39px;
  line-height: 1;
  letter-spacing: 0;
  color: #334D42;
  margin: 0 0 16px;
}

.container {
  @media screen and (max-width: 768px) {
    padding: 0 16px;
    flex-direction: column;
    ::ng-deep {
      .map {
        width: 100%;
      }
      .contact {
        width: 100%;
      }
    }
  }
}
