.button {
  background: #E0D9CF;
  border: 2.59px solid #334D42;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: -100%;
    height: 55%;
    width: 100%;
    background: #334D42;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -100%;
    height: 55%;
    width: 100%;
    background: #334D42;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }
}
.button:hover {
  color: #E0D9CF;
  transition-delay: .2s;
}
.button:hover:before {
  bottom: 0;
}
.button:hover:after {
  top: 0;
}
