.line {
  height: 4px;
  background-color: #E0D9CF;
  width: 100%;
  position: absolute;
  border-radius: 20px;
  transition: all .4s ease;
}
.top-line {
  top: 0;
}
.middle-line {
  top: 50%;
  transform: translateY(-50%);
}
.bottom-line {
  bottom: 0;
}

.active {
  .middle-line {
    width: 0;
  }
  .top-line {
    left: -2px;
    top: 8px;
    transform: rotate(45deg) translateY(-50%);
  }
  .bottom-line {
    transform: rotate(-45deg) translateY(-50%);
    bottom: 8px;
  }
}
