@use "tailwindcss";
body {
  font-family: "EB Garamond", serif;
}
html, body {
  scroll-behavior: smooth;
}
button {
  &:hover {
    cursor: pointer;
  }
}

.equipment {
  @media screen and (max-width: 768px) {
    padding-top: 40px;
  }
}


// three

/* src/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//html, body {
//  margin: 0;
//  height: 100%;
//  overflow: hidden; /* Важливо, щоб ефект був на весь екран */
//  font-family: 'Roboto', sans-serif !important;
//  color: white;
//  font-size: 9px;
//  background-color: #000205; /* Додано з SVG-кола для фону */
//}
