@use "tailwindcss";
body {
  font-family: "Roboto", serif;
  background: #E0D9CF;
}
html, body {
  scroll-behavior: smooth;
}
button {
  &:hover {
    cursor: pointer;
  }
}

.equipment {
  @media screen and (max-width: 768px) {
    padding-top: 40px;
  }
}


// three

/* src/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//html, body {
//  margin: 0;
//  height: 100%;
//  overflow: hidden; /* Важливо, щоб ефект був на весь екран */
//  font-family: 'Roboto', sans-serif !important;
//  color: white;
//  font-size: 9px;
//  background-color: #000205; /* Додано з SVG-кола для фону */
//}
.show-image {
  position: relative;
}
.show-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

body .bookero-plugin-header {
  background-color: #334d42;
}

.submit-section .submit-button[data-v-17ba5f1e] {
  background-color: #334d42;
}

.calendar-days-list-cell.is-valid[data-v-3f06ab0c] {
  color: #334d42;
}
