<div class="">
  <div class="relative min-h-[200px] mb-[72px]">
    <img ngSrc="/images/main_photos.webp" alt="main_photo" fill class="object-cover" priority>
  </div>
  <app-title-with-gradient>
    <h1 class="title">{{ 'helper' | translate }}</h1>
  </app-title-with-gradient>

  <div class="assistant-wrapper">
    <p>
      {{ 'assistant_description' | translate }}
    </p>
    <div>
      <img ngSrc="/images/assistant.JPG" alt="assistant" width="3186" height="3146" class="object-cover" priority>
    </div>
  </div>
  <app-title-with-gradient>
    <h2 class="title">
      {{ 'equipments' | translate }}
    </h2>
  </app-title-with-gradient>
  <div class="equipment-wrapper">
    @for (item of equipmentItems; track item.id) {
      <div (click)="openItem(detailTemplate, item)"
           (keydown.enter)="openItem(detailTemplate, item)"
           tabindex="0"
           style="cursor: pointer;" >
        <app-equipment-item [name]="item.name" [image]="item.src" [addName]="item.addName"></app-equipment-item>
      </div>
    }
  </div>

  <app-title-with-gradient>
    <h2 class="title">
      {{ 'additional-equipment' | translate }}
    </h2>
    <p class="booking-note">
      {{ 'EQUIPMENT_PAGE.BOOKING_NOTE' | translate }}
    </p>
  </app-title-with-gradient>

  <p class="price-info mb-10">
    {{ 'EQUIPMENT_PAGE.PRICE_INFO' | translate }}
    <span class="click-prompt">{{ 'EQUIPMENT_PAGE.CLICK_PROMPT' | translate }}</span>
  </p>

  <div class="equipment-wrapper">
    @for (item of additionalEquipmentData; track item.id) {
      <div (click)="openItem(detailTemplate, item)"
           (keydown.enter)="openItem(detailTemplate, item)"
           tabindex="0"
           style="cursor: pointer;" >
        <app-equipment-item [name]="item.name" [image]="item.src" [addName]="item.addName"></app-equipment-item>
      </div>
    }
  </div>
</div>

<ng-template #detailTemplate let-item>
  <div class="wrapper relative">
    <span (click)="closeModal()" class="absolute right-[-4px] top-[-4px]">
      <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="#0F1729"/>
      </svg>
    </span>
    <div class="item-wrapper">
      <div>
        <img [ngSrc]="item.src" [alt]="item.alt" width="400" height="400" />
      </div>
      <div>
        <p class="second-name">{{ item.addName | translate }}</p>
        <p class="name">{{ item.name | translate }}</p>
        <p class="description">{{ item.description | translate }}</p>
      </div>
    </div>
    @if(item.price) {
      <p class="price-info">{{ item.price | translate }}</p>
    }
  </div>
</ng-template>
